@charset "UTF-8";
/*
1.GENERAL
2.INDEX
3.COMPRAR
4.GALERIA
5.CARTAS DE REFERENCIA
6.FOOTER*/
/*********GENERAL*********/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: red;
  background-size: auto;
  background-blend-mode: hard-light;
  font-family: 'DM Serif Text', serif;
  font-weight: 100;
}

/* navbar */
nav {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#79e0a9), to(#74d6dd));
  background-image: linear-gradient(#79e0a9, #74d6dd);
}

.nav-link:hover {
  background-color: #79e0a9;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: #74d6dd;
}

.pecore {
  /*logo*/
  width: 120px;
  margin-left: 20px;
}

/*********2.INDEX*********/
.carousel {
  width: 70%;
  margin: 10px;
}

.btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8787e9), to(#74d6dd));
  background-image: linear-gradient(#8787e9, #74d6dd);
  color: black;
  margin: 5px;
}

.botoncito {
  width: 100%;
  margin-top: 50px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 150%;
}

.botoncito:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#79e0a9), to(#8787e9));
  background-image: linear-gradient(#79e0a9, #8787e9);
  color: white;
}

.index__text {
  font-size: large;
  text-align: center;
}

/************3.COMPRAR************/
.elementoCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.espaciado {
  margin: 0 5px;
}

.orgTabla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/***********4.GALERIA*********/
.galeria__caja {
  margin: 0px;
  padding: 10px;
}

.galeria__foto {
  width: 100%;
  cursor: pointer;
}

.galeria__foto:hover {
  -webkit-transform: scale(1.001, 1.001);
          transform: scale(1.001, 1.001);
  border-style: outset;
}

#imagen-activa {
  width: 100%;
  height: auto;
}

#containerDos {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

#cajaInterna {
  height: 100%;
  border: 2px white solid;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#btn-cierra {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 60px;
  margin-right: 10px;
}

#btn-retrocede {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 50px;
}

#btn-adelanta {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 50px;
}

.botonesGaleria {
  background-color: #c5c5c5;
  border: transparent;
  color: black;
}

.botonesGaleria:hover {
  background-color: white;
  color: red;
}

/* Cartas de referencia*/
.cards {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cards__body {
  margin: 1% 1%;
  min-width: 20rem;
  max-width: 25rem;
  min-height: 20rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flipCard {
  background-color: transparent;
  height: 20rem;
  border: 0px;
  -webkit-perspective: 300rem;
          perspective: 300rem;
}

.flipCardInner {
  /* Este contenedor nos posiciona los dos lados de la tarjeta */
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  /* Crea la animación para girar la tarjeta de forma horizontal cuando el ratón se pone encima*/
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 1.2rem;
  max-width: 25rem;
  max-height: 30rem;
  border-width: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flipCardFront {
  border-style: inset;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flipCardBack {
  /* Estructura específica de la cara trasera */
  color: #1f1f81;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border-style: outset;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cards__image {
  width: 95%;
  height: 80%;
  width: 14rem;
}

.cards__tittle {
  color: #28816b;
  font-size: 2rem;
  font-style: oblique;
}

.cards__name {
  color: #28816b;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 20px;
}

/*fondo de las cartas*/
.fondoCarta {
  background-color: rgba(183, 238, 233, 0.4);
  border-color: rgba(183, 238, 233, 0.4);
}

.fondoEncargo {
  background-color: rgba(158, 181, 230, 0.4);
  border-color: #1f1f81;
}

/*********FOOTER*********/
footer {
  width: 100%;
}
/*# sourceMappingURL=estilo.css.map */