/*
1.GENERAL
2.INDEX
3.COMPRAR
4.GALERIA
5.CARTAS DE REFERENCIA
6.FOOTER*/


/*********GENERAL*********/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(182, 202, 255);
    background-image:url(/img/fondooo.jpg);
    background-size:auto;
    background-blend-mode: hard-light;
}

/* navbar */
nav{
    background-image: linear-gradient(rgb(124, 221, 164), rgb(95, 189, 184));
    }
    .nav-link:hover{
        background-color: rgb(121, 224, 169);
        border-radius: 5px;
    }
    .dropdown-item:hover{
        background-color: rgb(116, 214, 221);
    }
    .pecore{ /*logo*/
        width:120px;
        margin-left:20px;
    }



/*********INDEX*********/


.carousel{
        width: 70%;
        margin:10px;
    }
    
.btn{
        background-image: linear-gradient(rgb(135, 135, 233), rgb(126, 233, 227));
        color:black;
        margin:5px;
    }
.botoncito{
        width:100%;
        margin-top:50px;
        height: 50px;
        justify-content: center;
        font-size: 150%;
    }
.botoncito:hover{
        background-image: linear-gradient(rgb(126, 233, 227), rgb(135, 135, 233));
        color:white;
    }


/************COMPRAR************/
    
    .elementoCarrito{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    
    }
    
    .espaciado{
        margin: 0 5px;
    }
    
    .orgTabla{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }





/***********4.GALERIA*********/

.galeria__caja{
    margin: 0px;
    padding: 10px;
}
.galeria__foto{
    width:100%;
    cursor:pointer;

}
.galeria__foto:hover{
    transform:scale(1.001,1.001);
    border-style: outset;
}


#imagen-activa{
    width: 100%;
    height: auto;
}
#containerDos{
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.65);
}

#cajaInterna{
    height:100%;
    border:2px white solid;
    padding: 2px;
    display: flex;
    justify-content: center;
    position: relative;
}
#btn-cierra{
    position:absolute;
    top: 0;
    right: 0;
    font-size: 60px;
    margin-right:10px;
}
#btn-retrocede{
    position:absolute;
    top: 50%;
    left: 0;
    font-size: 50px;
}
#btn-adelanta{
    position: absolute;
    top:50%;
    right:0;
    font-size: 50px;
}

.botonesGaleria{
    background-color:rgba(223, 226, 225, 0.8);
    border: transparent;
    color:black;
}
.botonesGaleria:hover{
    background-color: white;
}

/* Cartas de referencia*/
.cards {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }

.cards__body {
    margin: 1% 1%;
    min-width: 20rem;
    max-width: 25rem;
    min-height: 20rem;
    box-sizing: border-box; }

.flipCard {
    background-color: transparent;
    height: 20rem;
    border: 0px;
    perspective: 300rem;}

.flipCardInner {
    /* Este contenedor nos posiciona los dos lados de la tarjeta */
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d; }

.flipCard:hover .flipCardInner {
    /* Crea la animación para girar la tarjeta de forma horizontal cuando el ratón se pone encima*/
    transform: rotateY(180deg); }

.flipCardFront,
.flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 1.2rem;
    max-width: 25rem;
    max-height: 30rem;
    border-width: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }

.flipCardFront {
    border-style: inset;
    border-radius: 1rem;
    display: flex;
    justify-content: center; }

.flipCardBack {
    /* Estructura específica de la cara trasera */
    color: rgb(31, 31, 129);
    transform: rotateY(180deg);
    border-style: outset;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box; }
.cards__image {
    width: 95%;
    height: 80%; 
    width: 14rem;
}

.cards__tittle {
    color: #28816b;
    font-size: 2rem;
    font-style: oblique; 
}

.cards__name {
    color: #287c67;
    font-size: 2rem;
    font-weight: bolder;
    margin-top:20px;
}

/*fondo de las cartas*/
.fondoCarta {
background-color: rgba(163, 235, 231, 0.4);
border-color: rgba(183, 238, 233, 0.4); 
}
.fondoEncargo {
    background-color: rgba(166, 167, 224, 0.4);
    border-color: rgba(158, 181, 230, 0.4); 
    }




/*********FOOTER*********/

footer{
    width: 100%;
}
