*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    background-color: rgb(226, 241, 236);
}
/* navbar */
/*este es la barra de navegacion*/
nav{
    background-image: linear-gradient(rgb(124, 221, 164), rgb(95, 189, 184));
}
.nav-link:hover{
    background-color: rgb(121, 224, 169);
    border-radius: 5px;
}
.dropdown-item:hover{
    background-color: rgb(116, 214, 221);
}
.pecore{ /*logo*/
    width:120px;
    margin-left:20px;
}

/*index*/
.carousel{
    width: 70%;
    margin:10px;
}

.btn{
    background-image: linear-gradient(rgb(135, 135, 233), rgb(126, 233, 227));
    color:black;
    margin:5px;
}
.botoncito{
    width:100%;
    margin-top:50px;
    height: 50px;
    justify-content: center;
    font-size: 150%;
}
.botoncito:hover{
    background-image: linear-gradient(rgb(126, 233, 227), rgb(135, 135, 233));
    color:white;
}

.desafio{
    background-color: rgb(217, 226, 226);
    padding:10px;
}
#numeros{
    color:red;
    font-size: larger;
}


/***********GALERIA*********/

.galeria__caja{
    margin: 0px;
    padding: 10px;
}
.galeria__foto{
    width:100%;

}
.galeria__foto:hover{
    transform:scale(1.10,1.10);
    border-style: outset;
}




