//paleta de colores
$celeste: rgb(116, 214, 221);
$azul:rgb(31, 31, 129);
$azulado:rgb(135, 135, 233);
$verde:rgb(121, 224, 169);
$verdoso:#28816b;
$clarito:rgb(182, 202, 255);
$gris:rgb(197, 197, 197);
$verdon:rgba(183, 238, 233, 0.4);
$blue:rgba(158, 181, 230, 0.4);
